<%= render 'users/index', users:@user %>

<div class="offset-md-1"></div>
<div class="col-md-8">


<h1>Book detail</h1>

<div class="d-flex justify-content-around border-top">
 
      <div class="m-1 " ><%= image_tag @user.get_image %>
      <div class="m-1 " ><%= @user.name %></div></div>
      <div class="m-1"><%= @book.title %></div>
      <div class="m-1"><%= @book.body %></div>
      <div class="m-1"><%= link_to 'Edit' , edit_book_path(@book.id) %></div>
      <div class="m-1"></div><%= link_to 'Destroy', book_path(@book.id), method: :delete, "data-confirm" => "Are you sure?" %>
 
       </div>
       </div>
