<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/d179d9da83.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class = "d-flex flex-column vh-50">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
              <a href ="/">Bookers</a>
           <ul class="navbar-nav ml-auto">
       <% if user_signed_in? %>
    
        <li class="nav-item">
          
           <%= link_to user_path(current_user) do %></il>
           <i class="fa-solid fa-house"></i>Home
           <% end %>
        <li class="nav-item"><a href ="/users"><i class="fa-solid fa-users"></i>Users</a></il>
         <li class="nav-item"><a href ="/books"><i class="fa-solid fa-book-open"></i>Books</a></il>
        <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete do%>
            <i class="fa-solid fa-right-from-bracket"></i>Log out
          <% end %>  
        </li>
      <% else %>
        <li class="nav-item"><a href ="/"><i class="fa-solid fa-house"></i>Home</a></il>
        <li class="nav-item"><%=link_to about_path do %>
        <i class="fa-solid fa-link"></i>About
        <% end %>
        </il>
        <li class="nav-item">
          <%= link_to new_user_registration_path do  %>
          <i class="fa-solid fa-user-plus"></i>Sign up
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_session_path do %>
          <i class="fa-solid fa-right-to-bracket"></i>Log in
          <% end %>
        </li>
      </ul>
      <% end %>
      </div>
      </nav>
    </header>
     <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
    <div>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </body>
</html>
